/*
 * @File Name          : contato.css
 * @Description        : Css da página de contato
 * @Author             : Bruno Badu - 
 * @Group              : 
 * @Last Modified By   : Bruno Badu - 
 * @Last Modified On   : 21/09/2021 19:32:49
 * @Modification Log   : 
 * Ver       Date              Author      		  Modification
 * 1.0      21/09/2021         Bruno Badu -     Initial Version
*/

.interna_contato{
  background: url("/web/img/bg-contato.jpg") no-repeat center;
  background-size: cover;
}


/* Contato */

.contato {
  padding: 40px 0;
}

.contato_form {
  padding-right: 60px;
}
.contato_form label {
  display: block;
  color: #231C1C;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 5px;
}

.contato_form input {
  display: block;
  width: 100%;
  border: 3px solid #4DCF3E;
  background: none;
  color: #231C1C;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 7px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  outline: none;
}

.contato_form textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 3px solid #4DCF3E;
  background: none;
  color: #231C1C;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 7px 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  outline: none;
}

.contato_form button {
  padding: 7px 40px;
  background: none;
  border: 3px solid #4DCF3E;
  border-radius: 5px;
}

.contato_dados {
  color: #231C1C;
}

.contato_dados h3 {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 25px;
  color: #4DCF3E;
  font-weight: bold;
}

.contato_dados span {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.dados_email {
  margin-bottom: 40px;
}


.footer_redes ul li{
  display: inline-block;
  margin-right: 10px;
}

.contato_dados p {
  margin-top: 8px 0;
}