/*
 * @File Name          : portfolio.css
 * @Description        : Css da página de portfólio
 * @Author             : Bruno Badu - 
 * @Group              : 
 * @Last Modified By   : Bruno Badu - 
 * @Last Modified On   : 20/09/2021 18:05:43
 * @Modification Log   : 
 * Ver       Date              Author      		  Modification
 * 1.0      20/09/2021         Bruno Badu -     Initial Version
*/

.interna_portfolio {
  background: url("/web/img/portfolio/bg-portfolio.jpg") no-repeat center;
  background-size: cover;
}

.quote_cliente {
  padding: 60px 0;
  max-width: 460px;
  margin: 0 auto;
}

.quote_cliente p {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 25px;
  font-style: italic;
  margin-bottom: 20px;
}

.quote_cliente cite {
  font-size: 18px;
  font-weight: bold;
  float: right;
  font-style: normal;
  padding-right: 160px;
}