/*
 * @File Name          : reset.css
 * @Description        : Css Reset
 * @Author             : Bruno Badu - 
 * @Group              : 
 * @Last Modified By   : Bruno Badu - 
 * @Last Modified On   : 21/09/2021 21:25:00
 * @Modification Log   : 
 * Ver       Date              Author      		  Modification
 * 1.0      02/09/2021         Bruno Badu -     Initial Version
*/


/* -- 	Reset --*/

/* Remove anchor tex-decoration - sublinhado do link */
a { text-decoration: none; }

/* Remove list-style - Aquelas bolinhas de lista. */ 
ol, ul { list-style: none; }

/* Remove qualquer configuração pré-determinada pelo navegador. */
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, footer, header, nav, section, main {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* Remove as configurações de tamanho e peso das tag para que possam ser feitas via css */
h1, h2, h3, h4, h5, h6, p, a, ul { font-size: 1em; font-weight: normal; }