/*
 * @File Name          : resposivo.css
 * @Description        : Css grid layout
 * @Author             : Bruno Badu - 
 * @Group              : 
 * @Last Modified By   : Bruno Badu - 
 * @Last Modified On   : 24/09/2021 23:58:29
 * @Modification Log   : 
 * Ver       Date              Author      		  Modification
 * 1.0      24/09/2021         Bruno Badu -     Initial Version
*/


/* Estilo para telas médias como tablets */

@media only screen and (min-width: 788px) and (max-width: 979px) {
	
	/* Qualidade Home */
	.qualidade::after {
		right: 66px;
	}

	.qualidade_lista li {
		text-align: center;
		padding: 10px;
	}
	  
	/* Footer */
	.footer_redes ul li a{
		display: block;
	}

	.footer_redes ul li img {
		width: 40px;
		height: 40px;
	}

	/* Produtos */
	.produto_item h2 {
		top: -154px;
	}

	.produto_icone {
		padding: 45px 0;
	}

	.produto_info p {
		font-size: 14px;
		line-height: 20px;
		height: 120px;
		padding: 15px 25px;
	}

	.produto_info ul li {
		font-size: 14px;
		line-height: 20px;
		width: 181px;
		height: 49px;
	}
}

/* Estilo para telas de smartphones */

@media only screen and (max-width: 787px) {

	/* Header */
	.header {
		position: relative;
		padding-bottom: 0px;
	}

	.header img {
		margin: 0 auto 10px auto;
	}

	.header_menu {
		text-align: center;
	}

	.header_menu ul li a {
		border: 3px solid #231C1C;
		border-radius: 5px;
		width: 136px;
		display: block;
		float: left;
	}

	.header_menu ul li a:hover {
		border-color: #fff;
	}

	.header_menu ul li a.menu_ativo {
		color:#fff;
		border-color: #fff;
	}

	.header_menu ul li {
		margin: 5px;
	}

	/* Introdução */
	.introducao {
		margin-top: 0;
		padding-top: 40px;
		background: url("/web/img/bg-intro-mobile.jpg") no-repeat center;
  		background-size: cover;
	}

	.introducao h1 {
		font-size: 36px;
	}

	/* Introdução interna */
	.introducao-interna {
		margin-top: 0px;
	}

	/* Sobre */
	.missao_sobre p {
		font-size: 14px;
		line-height: 20px;
		padding-right: 0px;
	}

	.missao_sobre ul li {
		font-size: 14px;
		line-height: 25px;
	}

	/* Qualidade */
	.qualidade {
		padding-top: 60px;
  	}

	/* Portfólio */
	.portfolio li img.test{
		background: url("/web/img/passeio-mobile.png") no-repeat center;
	}

	/* Qualidade Home */
	.qualidade::after {
		display: none;
	}

	.subtitulo {
		margin-bottom: 30px;
	}

	.qualidade_lista li {
		margin-top: 30px;
	}

	.qualidade_lista  {
		padding: 0px;
	}

	/* footer */
	.autor {
		text-align: left;
	}

	/* Produtos */
	.produto_item h2 {
		top: -95px;
		font-size: 24px;
	}

	.produto_icone {
		padding: 45px 0;
	}

	.produto_info {
		background: #231C1C;
		border-radius: 15px 15px 0 0;
	}

	.produto_info p {
		font-size: 14px;
		line-height: 20px;
		height: auto;
		padding: 15px 25px;
	}

	.produto_info ul li {
		font-size: 14px;
		line-height: 20px;
		width: 149px;
		height: 49px;
	}

	.form, .orcamento_dados ul{
		padding-right: 0;
	  }

	  /* Portfólio */
	.quote_cliente cite {
		padding-right: 90px;
	}

	/* Contato */
	.contato_form {
		padding-right: 0px;
		margin-bottom: 40px;
	}
}

